*{
    font-family: Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
font-weight: normal;
}
header {
    text-align: center;
    padding: 30px;
    background-image: -webkit-linear-gradient(#28587B, whitesmoke);
    color: antiquewhite;
}
body{
    /* reseting the default body background color, wasn't letting me style the main background until then */
    background-color:whitesmoke;

}
main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    flex-basis: 1;
    

}

main div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    box-sizing: border-box;
    align-self: center;
    background-color: rgb(144, 179, 212);
    border-radius: 25px;
    z-index: auto;


}
aside {
    
    float: left;
    display:flex;
    flex-direction:row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    
}

aside .btn{
    width: 150px;
    height: 50px;
    margin: 50px;
    border-radius: 50px;
}

footer{
    text-align: center;

}
.instruction{
    text-align: center;
    margin: 5px;
}
.instruction-list{
    text-align: left;
}
.btn{
    background-color: rgb(198, 218, 239);
    color: rgb(100, 99, 99);  
    font-size: 25px;
    border-radius: 10%;
    margin:25px;
    flex-shrink: inherit;
    box-shadow: 1px 1px 6px 2px rgb(12, 20, 80);
    width: 150px;

}
.box{
    border: #3b5ad5 2px solid;
    display: inline-block;
    border-radius: 25px;
    width: 200px;
    height: 500px;
    margin: 5px;
    background-color: #f0efe8;
    text-align: center;

}
.income-box{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    flex: 1;
}
.expense-box{
    width: 50%;
    border-radius: 0px;
    flex: 2;
}
.gaintoloss-box{
    width: 25%; 
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    flex: 1;
}

#total {
    font-size: 1.5rem;
    color: #28587B;
    font-weight: bold;
    margin: 10px 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

@media (min-width: 384px) {
    main{min-width: 384px;
    }
}

@media (max-width: 442px){
    aside{display: flex;
    flex-direction: row;
flex-wrap: wrap;
width: 400px;
height: 400px;}
aside .btn{
    margin: 15px;
}
}
    
